<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="isHandset$ | async" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">Credit Guard</span>
  <span class="spacer"></span>
  <nav class="desktop-nav" *ngIf="!(isHandset$ | async)">
    <a mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a mat-button routerLink="/customers" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Customers</span>
    </a>
    <a mat-button routerLink="/groups" routerLinkActive="active">
      <mat-icon>group_work</mat-icon>
      <span>Groups</span>
    </a>
    <a mat-button routerLink="/transactions" routerLinkActive="active">
      <mat-icon>payment</mat-icon>
      <span>Transactions</span>
    </a>
    <a mat-button routerLink="/reports" routerLinkActive="active">
      <mat-icon>assessment</mat-icon>
      <span>Reports</span>
    </a>
    <button mat-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true" [opened]="false">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/customers" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>people</mat-icon>
        <span>Customers</span>
      </a>
      <a mat-list-item routerLink="/groups" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>group_work</mat-icon>
        <span>Groups</span>
      </a>
      <a mat-list-item routerLink="/transactions" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>payment</mat-icon>
        <span>Transactions</span>
      </a>
      <a mat-list-item routerLink="/reports" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>assessment</mat-icon>
        <span>Reports</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>